{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "no-unused-vars": "warn",
  "func-names": "warn",
  "spaced-comment": "error",
  "consistent-return": "warn",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
}
