@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html {
  font-size: 100%;
  background-color: var(--clr-secondary-300);
  color: #fff;
  padding: 2%;
} /*16px*/

:root {
  --clr-primary-200: #bdd887;
  --clr-primary-300: #a7cb5f;
  --clr-primary-400: #91be37;
  --clr-primary-500: #74982c;
  --clr-primary-700: #3a4c16;
  --clr-primary-900: #1d260b;

  --clr-secondary-200: #66a9d9;
  --clr-secondary-300: #338ccc;
  --clr-secondary-400: #006fbf;
  --clr-secondary-500: #005999;
  --clr-secondary-700: #004373;
  --clr-secondary-900: #002139;

  --clr-neutral-200: #e6e6e6;
  --clr-neutral-300: #b3b3b3;
  --clr-neutral-400: #808080;
  --clr-neutral-500: #666666;
  --clr-neutral-700: #333333;
  --clr-neutral-900: #191919;

  --fnt-size-caption: 0.75rem;
  --fnt-size-body: 1rem;
  --fnt-size-subheading1: 1.777rem;
  --fnt-size-heading1: 3.157rem;
  --fnt-size-title: 4.209rem;

  --fnt-weight-body: 300;
  --fnt-weight-heading: 400;
  --fnt-weight-title: 700;

  --border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
  text-decoration: none;
}

a {
  color: var(--clr-neutral-200);
  transition-duration: 0.5s;
  font-weight: bold;
}

a:hover {
  color: var(--clr-neutral-300); 
}

.project-card a {
  color: var(--clr-secondary-300);
  transition-duration: 0.5s;
}

.project-card a:hover {
  color: var(--clr-secondary-200);
}

body {
  line-height: 1.75;
  font-family: "Lato", sans-serif;
  font-weight: var(--fnt-weight-body);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  line-height: 1.1;
}

h1 {
  font-weight: var(--fnt-weight-title);
  font-size: var(--fnt-size-title);
}

h2,
h3,
h4,
h5 {
  font-weight: var(--fnt-weight-heading);
}

h2 {
  font-size: var(--fnt-size-heading1);
}

h3 {
  font-size: var(--fnt-size-subheading1);
}

nav a {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin-right: 10px; 
}

nav {
  border-bottom: 1px solid;
}

footer {
  padding-top: 20px;
  text-align: center;
}


.border-radius {
  border-radius: var(--border-radius);
}

.inner-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-img {
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: 30%;
  height: auto;
  margin-top: -40px; 
  margin-right: 10px;
  float: left;
}

.card-directory {
  text-align: center;
}

.project-card {
  display: inline-block;
  padding: 4px;
  border-radius: var(--border-radius);
  text-align: center;
  width: 85%;
  background-color: #fff;
  transition-duration: 0.5s;
  margin: 10px;
}

.project-card:hover {
  opacity: 50%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  nav a {
    font-size: 1.5rem;
    margin-right: 20px; 
  }
  .portrait-img {
    width: 20%;
  }
  .project-card {
    width: 30%;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1107) {

}

@media only screen and (min-width: 1500px) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    padding-left: 200px;
    padding-right: 200px;
  }
}